USE_LLM=true
LLM_PROVIDER=groq

MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=healthcare_agent

OPENAI_API_KEY=
GROQ_API_KEY=

GOOGLE_API_KEY=
WEATHERSTACK_API_KEY=
EXCHANGERATE_API_KEY=
SERP_API_KEY=

# LLM_PROVIDER options: groq | google | openai
